---
import type { SidebarItem } from "../types"
export interface Props {
	sidebar: SidebarItem,
	match: string[]
}
const { sidebar, match } = Astro.props

const isMatch = match[0] === sidebar.lastPath
if (isMatch) {
	match.shift()
} 

// NOT USED
---

<li>
	<a href={ sidebar.path === "" ? "/docs/" : "/docs/" + sidebar.path } class={`${isMatch ? "match" : ""}`}>{ sidebar.title }</a>
	<ul>
		{ sidebar.childrenArray.map(child => <Astro.self sidebar={ child } match={isMatch ? match : []} />) }	
	</ul>
</li>

<style>
	.match {
		color: red;
	}
</style>